@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  margin:0;
  padding:0;
}

.location-search-input{
  font-family: 'Lato', sans-serif;
  width: 500px;
  height: 40px;
  background: none;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1rem;
  color: black;
  /* font-weight: bold; */
  margin-top: 300px;
  margin-left: 5rem;

}

.input-suggestion{
  font-family: 'Lato', sans-serif;
  width: 500px;
  height: 60px;
  background-color: white;
  border-bottom: 1px black dotted;
  display: flex;
  align-items: center;
  font-size: 1rem;
  /* font-weight: bold; */
  color: black;
  /* margin-left: 5rem; */
}