.header{
  text-align: center;
  color:green;
  font-size: 25px;
  top:30px;
  text-align: center;
  width: 100px;
}

.status-btn{
  width: 100px;
  height : 25px;
  background-color:white; 
  border: 1px solid;
  border-color: darkblue;
  color: darkblue;
  text-align: center;
  align-content: center;
  font-size: 13px;
  border-radius: 8px;
}
.status-unassigned{
  width: 100px;
  height : 25px;
  background-color:white; 
  border: 1px solid;
  border-color: darkgreen;
  color: darkgreen;
  text-align: center;
  font-size: 13px;
  border-radius: 8px;
}


.assign-cab-btn{
  height : 30px;
  width : 200px;
  border-color: darkgreen;
  background-color: darkgreen;
  color : white;
  border-radius: 3px;
}

.txt-box{
  width: 200px;
  height : 30px;
  border-color:lightgray;
  border: 1px solid;
  border-radius: 7px;
  text-align: left;
}

.date-table{
  border: 1px solid blue;  
  width: 80px;
  height: 30px;
}

.date-container{
  border: 1px solid blue;  
  width:250px;
  height: 26px;
}
.search-btn {
  background-color:blue;
  color: white;
  border: 1px solid white;  
  width: 50px;
  height : 27px;
}
.reset-btn{
  background-color:blue;
  color: white;
  border: 1px solid white; 
  width: 50px;
  height : 27px;
}

.button-container {  
  width: 100px;
  }