﻿.heading{
    font-size: 25px;    
    color:darkslateblue;
}

.mr-auto{
    color:darkgoldenrod;
}

.Navbar{
    font-size: 15px;
    color: darkgoldenrod

}

.signout-btn{
 color: red;
 justify-content: right;

}
.Navbar{
    font-size: 15px;
    color: darkgoldenrod

}

.signout-btn{
 color: red;
 justify-content: right;

}

.navbar i
{
    margin-left: -5px;
    margin-right: 10px;
    font-size: 16px !important;
}
.navbar button
{
    width: 30px;
    margin-right: 2px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    font-family: sans-serif;
    padding-bottom: 4px;
    font-family: Poppins-Regular, sans-serif;
}
.navbar button:hover
{
    width: auto;
    display: block;
    transition: 0.3s
}